# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment/secrets
.env

# Python build files
*.egg-info/
dist/
build/